<template>
  <div class="correct-result">
    <div class="correct" v-for="(correct, index) in answer" :key="index">
      <p>{{ correct.index }} :</p>
      <p>{{ correct.answer }}</p>
    </div>
  </div>
</template>

<script>
/*
  Takes the corrct answer from parent as props and then render it out.
*/
export default {
  name: "CorrectResult",
  props: {
    correctAnswer: Array,
  },
  data() {
    return {
      answer: this.$props.correctAnswer,
    };
  },
};
</script>

<style lang="scss" scoped>
.correct {
  display: flex;
}
p {
  margin: 0px 15px 0px 0px;
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
}
</style>