<template>
  <div class="result-page">
    <div class="header">
      <h2 class="result-header">RESULT OF QUIZ</h2>
      <h2 class="result-header">SCORE: {{ count }}</h2>
    </div>
    <div
      class="question-and-answers"
      v-for="(quiz, index) in resultQuiz"
      :key="index"
    >
      <h3 class="question-index">{{ index + 1 }} {{ quiz.question }}</h3>
      <p class="correct-quiz-answer">
        CORRECT ANSWER: {{ quiz.correct_answer }}
      </p>
    </div>
    <h3 class="correct-header">CORRECT ANSWER</h3>
    <CorrectResult :correctAnswer="this.$props.correctAnswer" />
    <h3 class="wrong-header">WRONG ANSWER</h3>
    <WrongResult :wrongAnswer="this.$props.wrongAnswer" />
    <div class="button-div">
      <router-link :to="{ name: 'startpage' }"
        ><button class="glow-on-hover">PLAY AGAIN</button>
      </router-link>
    </div>
  </div>
</template>

<script>
/*
  Parent component for resultpage. Takes props from the quizpage and pass some props to child components. 
  Renders out everything that has something with resultpage.
*/
import CorrectResult from "./CorrectResult.vue";
import WrongResult from "./WrongResult.vue";
export default {
  name: "ResultPage",
  components: {
    CorrectResult,
    WrongResult,
  },
  data() {
    return {
      resultCount: this.$props.count,
      resultQuiz: this.$props.quiz,
    };
  },
  props: {
    count: Number,
    correctAnswer: Array,
    wrongAnswer: Array,
    quiz: Array,
  },
};
</script>

<style lang="scss" scoped>
.result-header {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  justify-content: space-around;
}

.header {
  display: flex;
  justify-content: space-around;
}

.question-index {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.wrong-header {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.correct-header {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.correct-quiz-answer {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  font-size: 1rem;
}

button {
  padding: 1rem 5rem 1rem 5rem;
}

.button-div {
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly;
}

.glow-on-hover {
  font-family: "Bebas Neue", cursive;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
</style>