<template>
  <div class="wrong-answer">
    <div class="wrong" v-for="(wrong, index) of answer" :key="index">
      <p>{{ wrong.index }} :</p>
      <p>
        {{ wrong.answer }}
      </p>
    </div>
  </div>
</template>

<script>
/*
  Takes the wrong answer from parent as props and then render it out.
*/
export default {
  name: "WrongAnswer",
  props: {
    wrongAnswer: Array,
  },
  data() {
    return {
      answer: this.$props.wrongAnswer,
    };
  },
};
</script>

<style lang="scss" scoped>
.wrong {
  display: flex;
}
p {
  margin: 0px 15px 0px 0px;
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
}
</style>