<template>
  <div class="quiz-question">
    <p class="question">{{ question }}</p>
  </div>
</template>

<script>
/*
  This component takes the question as a prop and renders it out.
*/
export default {
  name: "QuizQuestion",
  props: {
    question: String,
  },
};
</script>

<style lang="scss" scoped>
.question {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  padding: 2rem;
  border-radius: 25px;
  border: 5px solid black;
  letter-spacing: 0.5px;
}
</style>
