<template>
  <div class="answer">
    <button
      class="glow-on-hover"
      @click="nextQuestion(answer)"
      v-for="(answer, index) in answers"
      :key="index"
    >
      {{ answer }}
    </button>
  </div>
</template>

<script>
export default {
  /*
    Button component, prints out the answers as buttons. Takes the answers as props from parent component.
  */
  name: "Answer",
  props: {
    answers: Array,
  },
  methods: {
    /*
      Emit the answerd question to parent component.
    */
    nextQuestion(answer) {
      this.$emit("handle-answer-clicked", answer);
    },
  },
};
</script>

<style lang="scss" scoped>
.answer {
  display: flex;
  flex-direction: column;
}

.glow-on-hover {
  font-family: "Bebas Neue", cursive;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button {
  padding: 1rem;
  font-size: 1.5rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
  letter-spacing: 3px;
}
</style>
