<template>
  <div class="quiz-page" v-if="quiz">
    <div class="question">
      <Question :question="currentQuestion" v-if="quiz" />
    </div>
    <div class="answears">
      <BooleanButton
        @handle-answer-clicked="nextQuestion"
        :nextQuestion="nextQuestion"
        :answers="shuffleAnswers"
      />
    </div>
  </div>
</template>

<script>
/*
  Parent component for quizpage. Takes props from startpage. Also send props to child components.
  Renders out everything that has to do with quizpage.
*/
import { getQuiz } from "../../util/api";
import Question from "./QuizPageQuestion.vue";
import BooleanButton from "./QuizPageAnswers.vue";
import shuffle from "lodash.shuffle";
export default {
  name: "QuizPage",
  components: {
    Question,
    BooleanButton,
  },
  props: {
    difficulty: String,
    number: Number,
    category: Number,
  },

  /*
    Here we set default data for the component.
  */
  data() {
    return {
      quiz: null,
      difficult: this.$props.difficulty,
      index: 0,
      count: 0,
      correctAnswer: [],
      wrongAnswer: [],
    };
  },
  computed: {
    /*
      Renders the current question one by one based by the index and encoding it at the same time.
    */
    currentQuestion() {
      let encodedQuestion = this.quiz.results[this.index].question;
      if (typeof encodedQuestion == "string") {
        encodedQuestion = encodedQuestion.replace(/&gt;/gi, ">");
        encodedQuestion = encodedQuestion.replace(/&lt;/gi, "<");
        encodedQuestion = encodedQuestion.replace(/&#039;/g, "'");
        encodedQuestion = encodedQuestion.replace(/&quot;/gi, '"');
        encodedQuestion = encodedQuestion.replace(/&amp;/gi, "&");
      }
      return encodedQuestion;
    },

    /*
      Gets the correct and incorrect question from the api and push them into array and then use the loadash shuffle method.
      Return answer for child-component.
    */
    shuffleAnswers() {
      let shuffleArr = [];
      this.quiz.results[this.index].incorrect_answers.map((c) => {
        if (typeof c == "string") {
          c = c.replace(/&gt;/gi, ">");
          c = c.replace(/&lt;/gi, "<");
          c = c.replace(/&#039;/g, "'");
          c = c.replace(/&quot;/gi, '"');
          c = c.replace(/&amp;/gi, "&");
        }
        shuffleArr.push(c);
      });

      let correctAnswer = this.quiz.results[this.index].correct_answer;
      if (typeof correctAnswer == "string") {
        correctAnswer = correctAnswer.replace(/&gt;/gi, ">");
        correctAnswer = correctAnswer.replace(/&lt;/gi, "<");
        correctAnswer = correctAnswer.replace(/&#039;/g, "'");
        correctAnswer = correctAnswer.replace(/&quot;/gi, '"');
        correctAnswer = correctAnswer.replace(/&amp;/gi, "&");
      }
      shuffleArr.push(correctAnswer);
      let answers = shuffle(shuffleArr);
      return answers;
    },
  },
  methods: {
    /*
      Here we get the data from the api by calling a fetch method and assign the quiz the data.
      If the response-code = 1, we return the user to startpage.
    */
    async loadQuizFromApi() {
      if (this.difficult === "any difficulty") {
        this.difficult = "";
      }
      this.quiz = await getQuiz(
        this.difficult,
        this.$props.number,
        this.$props.category
      );
      if (this.quiz.response_code === 1) {
        this.$router.push({
          name: "startpage",
        });
        alert("Something went wrong! Try again!");
      }
    },

    /*
      By clicking the answer button we check for correct and answer, if answer is correct push it to an correct-array.
      If the answer is incorrect push it to wronganswer array. After each click we change the index by 1 and check if index is less than the quiz length.
      We also check if the current length of the index is equal to the quiz length and thats how we send the user to the next resultpage.
    */
    nextQuestion(answer) {
      if (this.quiz.results[this.index].correct_answer === answer) {
        this.correctAnswer.push({
          index: this.index + 1,
          answer,
        });
        this.count += 10;
      }
      if (this.quiz.results[this.index].correct_answer !== answer) {
        this.wrongAnswer.push({
          index: this.index + 1,
          answer,
        });
      }
      let lengthOfQuiz = this.quiz.results.length;
      if (this.index <= lengthOfQuiz) {
        this.index++;
        if (this.index === lengthOfQuiz) {
          this.$router.push({
            name: "result",
            params: {
              count: this.count,
              correctAnswer: this.correctAnswer,
              wrongAnswer: this.wrongAnswer,
              quiz: this.quiz.results,
            },
          });
        }
      }
    },
  },

  /*
    On component create we load the data from the api. 
  */
  async created() {
    await this.loadQuizFromApi();
  },
};
</script>

<style scoped></style>
