<template>
  <div id="app">
    <div class="container">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html {
  background-color: #7368b3;
}
#app {
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 2rem;
}
</style>
