<template>
  <option :value="category.id">
    {{ category.name }}
  </option>
</template>

<script>
/*
  Takes props from parent component and renders out the category.
*/
export default {
  name: "SelectCategory",
  props: {
    category: Object,
  },
};
</script>

<style scoped>
</style>
