<template>
  <option :value="difficulty.type">
    {{ difficulty.type }}
  </option>
</template>

<script>
/*
  Takes props from parent component and renders out the difficulty.
*/
export default {
  name: "SelectDifficulty",
  props: {
    difficulty: Object,
  },
};
</script>

<style></style>
