<template>
  <option :value="number.number">
    {{ number.number }}
  </option>
</template>

<script>
/*
  Takes props from parent component and renders out the amount of numbers.
*/
export default {
  name: "SelectNumber",
  props: {
    number: Object,
  },
};
</script>

<style>
</style>