<template>
  <div class="startpage">
    <label for="number">Select number of questions</label>
    <select
      @change="onChangeNumber"
      name="number"
      id="numbers"
      v-model="number"
    >
      <SelectNumber
        v-for="(number, index) in numbers"
        :key="index"
        :number="number"
      />
    </select>
    <label for="category">Select category</label>
    <select
      @change="onChangeCategory"
      name="category"
      id="categories"
      v-model="category"
    >
      <SelectCategory
        v-for="category in categories.trivia_categories"
        :key="category.id"
        :category="category"
      />
    </select>
    <label for="difficulty">Select difficulty</label>
    <select
      @change="onChangeDifficulty"
      name="difficulty"
      id="difficulty"
      v-model="difficulty"
    >
      <SelectDifficulty
        v-for="(difficulty, index) in difficulties"
        :key="index"
        :difficulty="difficulty"
      />
    </select>
    <router-link
      :to="{
        name: 'quiz',
        params: { category: category, number: number, difficulty: difficulty },
      }"
    >
      <StartGameButton />
    </router-link>
  </div>
</template>

<script>
/*
  Parent component for startpage. Takes the data from each select and send it as props to other parent component "quizpage".
*/
import SelectCategory from "./SelectCategory.vue";
import StartGameButton from "./StartGameButton.vue";
import SelectDifficulty from "./SelectDifficulty.vue";
import SelectNumber from "./SelectNumber.vue";
import { getCategory } from "../../util/api";
import difficultyData from "../../util/difficulty";
import numbersData from "../../util/amountOfQuestions";
export default {
  components: {
    SelectCategory,
    StartGameButton,
    SelectDifficulty,
    SelectNumber,
  },
  name: "StartPage",

  /*
    Assign the default data for startpage.
  */
  data() {
    return {
      categories: [],
      difficulties: [],
      numbers: [],
      category: 9,
      difficulty: "any difficulty",
      number: 5,
    };
  },
  methods: {
    /*
      Load the categories from the api to the array.
    */
    async loadCategoryFromApi() {
      this.categories = await getCategory();
    },

    /*
      Load the difficulty from the util data.
    */
    loadDifficulty() {
      this.difficulties = difficultyData;
    },

    /*
      Load the amount of numbers from the util data.
    */
    loadNumbers() {
      this.numbers = numbersData;
    },

    /*
      Onchange method gets the current value from the select.
    */
    onChangeCategory() {
      return this.category;
    },

    /*
      Onchange method gets the current value from the select,
    */
    onChangeDifficulty() {
      return this.difficulty;
    },

    /*
      Onchange method gets the current value from the select.
    */
    onChangeNumber() {
      return this.number;
    },
  },

  /*
    On created load all the data from the utils.
  */
  created() {
    this.loadCategoryFromApi();
    this.loadDifficulty();
    this.loadNumbers();
  },
};
</script>

<style scoped>
.startpage {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
}
select {
  padding: 0.5rem;
  margin: 15px 0px 15px 0px;
}
</style>
